EVDS_API_KEY=your_evds_api_key_here

SNOWFLAKE_ACCOUNT=ORGNAME-ACCOUNTNAME
SNOWFLAKE_USER=your_snowflake_username
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=HOUSINGSCOPE_DB
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_PASSWORD=
